.heroImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 1rem;
    margin-top: 8rem;
}

.heroImageCard {
    display: flex;

    justify-content: center;
    align-items: center;
    width: 80%;
    height: 60vh;
    border-radius: 3rem;
    background-image: url('https://images.unsplash.com/photo-1467779009031-53938b78ca38?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
}

.heroImageText {
    color: white;
    font-size: 3rem;
}